body {
    font-family: "Helvetica Neue Thin", Helvetica, Arial, sans-serif;
    font-weight: 100;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 9pt;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 325px;
    transition: ease-out 0.2s;
}

.center:hover {
    transition: ease-in 0.2s;
    opacity: 50%;
}

/* unvisited link */
a:link {
    color: red;
    text-decoration: none;
    transition: ease-out 2s;
}

/* visited link */
a:visited {
    color: #000000;
    text-decoration: none;
    transition: ease-out 2s;
}

/* mouse over link */
a:hover {
    color: #FFFFFF;
    text-decoration: none;
    transition: ease-in .2s;
}

/* selected link */
a:active {
    color: #FFFFFF;
    text-decoration: none;
}

.backgrounds {
    background-color: #000000;
}

.container {
    position:relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 325px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

container:hover .overlay {
opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-1 {
    width: auto;
    font-size: 36pt;
    font-weight: 10;
    font-family: "Helvetica Neue Thin", Arial, sans-serif;
    color: #000000;
    letter-spacing: 16px;
    background-color: #F54029;
    background-size: 100%;
    padding: 50px 50px 50px 50px;
    margin: 0rem 0rem;
    border: 0px solid #000;
    border-color: #FFFFFF;
    border-width: 0px 0px;
    text-align: center;

}

.header-1:hover {
    font-size: 36pt;
    font-family: "Helvetica Neue Thin", Arial, sans-serif;
    color: #FFFFFF;
}

.paragraphs {
    font-family: "DIN Alternate", "DIN Condensed", Arial, sans-serif;
    border: #FFFFFF;
    font-size: 12pt;
}

