
    .body {
        font-family: "Helvetica Neue Thin", Arial, sans-serif;
    }

    .imgbig {
        width: 400px;
        height: 250px;
        margin: 10px 5px 2px 10px;
    }

    .thumbnail {
        width: 120px;
        height: 80px;
        margin: 2px 5px 10px 10px;
    }

    .thumbnail:hover {
        opacity: 50%;
        transition: ease-in 0.2s;
    }

    .blockbig {
        display: inline-block;
        width: auto;
        height: auto;
        margin: 5px 5px;
        background-color: white;
        border: 1px solid gray;
        box-sizing: border-box;
    }

    .textleft {
        display: inline-block;
        word-wrap: normal;
    }

    .container {
        display: flex;
        margin: 20px 200px;
        background-color: white;
        border: 1px solid lightgrey;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px 10px;
    }

    .block img {
        align-content: center;
        width: 100px;
        height: 100px;
    }

    .tablerow {
        height: 25px;
        margin: 20px 20px;
        text-align: left;
    }

    .tablerowhead {
        height: 25px;
        margin: 20px 20px;
        text-align: left;
    }

    .tableentry {
        height: 25px;
        margin: 20px 20px;
        text-align: left;
    }

    .mainheader {
        margin: 5px 5px;
    }

    .checkbutton {
        display: block;
        background-color: blue;
        color: white;
        border-style: solid;
        border-color: #FFFFFF;
        border-radius: 5px;
        padding: 10px 10px;
    }

    .checkbutton:hover {
        background-color: red;
        transition: ease-in 0.1s;
    }


    .separating_line {
        border-top: 1px #000 solid; /* top border only */
    }

    .secondheader {
        margin: 20px 200px;
    "
    }

    .midheader {
        font-family: "Helvetica Neue Thin", Arial, sans-serif;
        font-weight: lighter;
        margin: 5px 5px;
    }

    .innertext {
        margin: 5px 5px;
        font-size: 10pt;
    }

    .scoreimg {
        margin: 0px 5px;
    }

    @media only screen and (min-width: 360px) and (max-width: 479px)
    {
        .body {
            width: 480px
        }
    }

    @media only screen and (min-width: 1024px) and (max-width: 1199px)
    {
        .body {
            width: 1024px
        }
    }

